nav {
  position: fixed;
  top: 2px;
  max-width: 700px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1em 0em;
  border-radius: 10px;
  
  Height: auto;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #001F3F;
}

a:link {
  color: #ea6d00;
  font-family: 'Audiowide', cursive;
  font-size: 1.5em;
  
  margin: 0em 1em;
}

a {
  color: #ea6d00;
  text-decoration: none;
  font-size: 1rem;
}

a:visited {
  color: #ea6d00;
}

a:hover {
  color: #ea6d00;
  transform: scale(1.1);
}

a:active {
  color: white;
}

.introduction {
  display: flex;
  height: auto;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  Margin-bottom: 2em;
}

#picture {
  position: relative;
  width: 40%;
  height: auto;
  background: url(https://purepng.com/public/uploads/medium/purepng.com-darth-vaderdarth-vaderanakin-skywalkerstar-wars-franchiseskywalker-1701527754648itshr.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.other {
  display: flex;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

#reverse {
  flex-direction: row-reverse;
}

#revexp {
  align-self: center;
}

main {
  width: 60%;
  margin: 0px 10px;
}

aside {
  width: 40%;
}

h1 {
  font-size: min(max(3vw, 16px), 40px);
  max-font-size: 40px;
/*   font-size: 40px; */
  width: 8em;
  position: absolute;
  bottom: -1.1em;
  right: -0.5em;
/*   bottom: -30px;
  right: 230px; */
  padding: 0em;
  margin: 0em;
}

h2 {
  font-size: min(max(2vw, 12px), 25px);
/*   font-size: 25px; */
  width: 8em;
  position: absolute;
  bottom: 0.2em;
  right: 8.3em;
/*   bottom: 10px;
  right: 210px; */
  padding: 0px;
  margin: 0px;
}

blockquote {
  background: #001F3F;
  margin: 0px;
  padding: 1em 1em;
  color: #ea6d00;
  border-radius: 10px;
  font-family: 'Homemade Apple', cursive;
  font-size: 34px;
  position: relative;
}

#last {
  align-self: flex-end;
}

blockquote:before {
  content: "“";
  font-size: 3em;
  position: absolute;
  top: -0.4em;
}

h3 {
  font-family: 'Racing Sans One', cursive;
  font-size: 30px;
  font-weight: 100;
}

h4 {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #0074d9;
  background: #eaeaea;
}