:root {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #181818;
    --bg-secondary: #202020;
    --text-hover: #c43f3a; 
    --accent-color: #48ce9b;
    --transition-speed: 400ms;
}


html {
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: var(--bg-secondary);
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

/* Navbar and header start */

.navbar {
    width: 5rem;
    margin-top: 70px;
    height: 100%;
    position: fixed;
    background-color: var(--bg-primary);
    transition: var(--transition-speed) ease;
    text-decoration: none;
    z-index: 120;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    transition: all 400ms ease;
}

.nav-item:first-child {
    align-items: center;
    margin-top: auto;
}

.nav-item:last-child {
    margin-bottom: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    position: fixed;
    margin-left: 1rem;
    transition: all var(--transition-speed) ease;
    transition-delay: 0.25s;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;    
}

.nav-link .fas {
    min-width: 2rem;
    color: var(--text-primary);
    margin: 0 1.5rem;
    transition: var(--transition-speed);
}

.nav-item:hover .fas {
    color: var(--text-hover);
}

.nav-item:hover .link-text {
    transform: scale(1.1);
}

.fas.fa-hand-paper {
    transform: rotate(20deg);
}

.nav-item:nth-child(1):hover .fas.fa-hand-paper {
    transform: rotate(20deg);
    animation: rotation 0.5s 1 linear;
  }
  
  @keyframes rotation {
    50% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
}

.portrait {
    position: absolute;
    display: none;
    left: 50%;
    max-width: 10rem;
    border-radius: 50%;
    margin-left: -5rem;
    margin-top: 1rem;
    opacity: 1;
    transition: var(--transition-speed) ease;
    animation: fade-in calc(2 * var(--transition-speed)) 1 linear;
    }

    @keyframes fade-in {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


header {
    position: fixed;
    background: var(--bg-primary);
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 120;
}

.left-area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left-area span {
    color: var(--text-hover);
}

.panel::-webkit-scrollbar {
    display: none;
}

label #sidebar-btn {
    z-index: 120;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 250px;
    font-size: 30px;
    margin: 5px 0;
    transition: 500ms;
    transition-property: color;
}

label #sidebar-btn:hover {
    color: var(--text-hover);
}

#check:checked ~ .navbar {
    width: 14rem;
}

#check:checked ~ .navbar .link-text {
    display: block;
    left: 5rem;
    opacity: 1;
    animation: fade-in var(--transition-speed) 1 linear;
    }

    @keyframes fade-in {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

#check:checked ~ .navbar .portrait {
    display: block;
    opacity: 1;
    animation: fade-in var(--transition-speed) 1 linear;
}

#check:checked ~ .main-content {
    margin-left: 14rem;
    filter: blur(5px);
}

#check {
    display: none;
}

#tabbed-content .panel {
    display: none;
}

#tabbed-content .panel.active {
    display: block;
    animation: fade-in var(--transition-speed) 1 linear;
}

/* Navbar and header end */

/* Main content start */

main {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    padding: 1rem;
    padding-top: 70px;
    color: var(--text-primary);
    background: var(--bg-secondary);
    transition: var(--transition-speed);
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    justify-content: flex-start;
}

main .left-content{
    padding-left: 1.5rem;
    min-width: 600px;
    max-width: 850px;
    width: 1000px;
    margin-right: auto;
    display: flex;
    max-height: 100vh;
}



.panel {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.title {
    margin-top: 35%;
    font-size: 5rem;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 20px;
    line-height: 5rem;
}

.institution-name {
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.years-profession {
    display: flex;
    margin-top: 10px;
    padding: 0px;
    line-height: 1.1rem;
    font-size: 1.1rem;
}

.years {
    margin-top: 1rem;
}

.profession {
    margin: 0rem;
    margin-left: auto;
}

.description {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1rem;
}

.school {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.company {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


/* Main left content end */


/* Main right content start */

main .right-content{
    display: flex;
    padding-left: 3rem;
    min-width: 35vw;
    max-width: 45vw;
    justify-content: flex-start;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 100vh;
    height: calc(100vh - 700px);
/*     overflow-wrap: break-word; */
}

.own-projects h2{
    padding: 0px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

.own-projects .description{
    margin-bottom: 2rem;
}

.video-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    width: 50%;
    padding-bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-wrapper {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: flex-start;
    overflow-y: auto;
    align-self: center;
    border-radius: 10px;
    cursor: grab;
    justify-self: center;
    position: relative;
}


.img-wrapper#few-pic{
    justify-content: center;
}

.img-wrapper img {
    width: 6rem;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    object-fit: cover;
}

.img-wrapper img:hover {
    cursor: pointer;
}

.img-wrapper::-webkit-scrollbar {
    height: 0rem;
}


.img-wrapper::-webkit-scrollbar-track {
    background: #1e1e24;
}

.img-wrapper::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

.gallery-container {
    display: flex;
}

.change-img-left{
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.2rem;
    background: none;
    border: none;
    outline:none;
    color: var(--text-primary);
}

.change-img-right{
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.2rem;
    background: none;
    border: none;
    outline:none;
    color: var(--text-primary);
}

.change-img-left:hover, .change-img-right:hover {
    cursor: pointer;
}

/* Main right content end */


/* Popup window when clicked */

.img-window {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-img {
    max-height: 80vh;
    max-width: 80vw;
    z-index: 350;
}

.img-btn-next {
    display: block;
    font-size: 2rem;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: var(--text-secondary);
    cursor: pointer;
    right: 0;
}

.img-btn-prev {
    display: block;
    font-size: 2rem;
    padding: 8px 30px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: var(--text-secondary);
    cursor: pointer;
    left: 0;
}

.img-btn-next:hover, .img-btn-prev:hover {
    background-color: #282828;
    transition: 0.2s ease-out;
}

.subtitle.left {
    width: 100%;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 3rem;
}

.subtitle.right {
    width: 100%;
    margin-top: 30px;
    margin-right: 10%;
    font-size: 3rem;
    text-align: end;
}

.about {
    display: flex;
    width: 100%;
/*     background: green; */
    min-height: 10rem;
    align-items: center;
}

.about img{
    width: 100%;
    height: auto;
}

.about-description.first{
    width: 85%;
}

.about-description.second {
    width: 70%;
}

.about-img.first{
    width: 15%
}

.about-img.second {
    width: 30%
}

.about.second {
    flex-direction: row-reverse;
}

.skill-wrapper {
    width: 500px;
    margin: 60px auto;
    color: var(--text-primary);
}

.skill-ul {
    list-style: none;
    padding-left: 0;
/*     columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2; */
}

.skill-wrapper li {
    margin: 20px 0;
}

.bar {
    background: var(--bg-secondary);
    display: block;
    height: 3px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--text-hover);
}

.bar span {
    height: 3px;
    float: left;
    background: var(--text-hover);
}

.html {
    width: 90%;
}

.css {
    width: 65%;
}

.jquery {
    width: 50%;
}

.javascript {
    width: 70%;
}




@media screen and (max-width: 1200px) and  (max-height: 720px) {

    main {
        justify-content: flex-start;
    }

    main .left-content{
/*         min-width: 100%; */
/*         max-width: 600px; */

        padding: 1rem;
        box-sizing: border-box;
    }
    

    main .right-content{
        display: none;
    }

    .navbar {
        transition: var(--transition-speed);
        z-index: 90;      
    }


/*     .navbar-nav {

    }
 */
/*     .nav-item {
        width: 100%;
        transition: all 400ms ease;
        margin-bottom: 10px;
    } */


    .nav-link {
        height: 2.5rem;
/*         justify-content: center; */
    }

    .nav-link .fas {
        font-size: 1.5rem;
/*         justify-content: center; */
    }

    .link-text {
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 0px;
        margin-left: 0px;
        animation: fade-out var(--transition-speed) 1 linear;
    }

    .nav-item:hover .link-text {
        transform: scale(1.1);
    }

    .portrait {
        position: absolute;
        display: none;
        left: 50%;
        max-width: 8rem;
        border-radius: 50%;
        margin-left: -5rem;
        margin-top: 1rem;
        opacity: 1;
        transition: var(--transition-speed) ease;
        animation: fade-in calc(2 * var(--transition-speed)) 1 linear;
    }
}


@media screen and (max-width: 720px) {

    body {
        max-width: 100%;
    }

    main {
        justify-content: flex-start;
        margin-left: 0rem;
        width: 100%;
        max-width: 100%;
    }

    main .left-content{
        max-width: 100%;
        width: 100vh;
        padding: 0.5rem;
        padding-top: 0;
        box-sizing: border-box;
        display: block;
    }
    

    main .right-content{
        display: none;
    }

    .nav-link .fas {
    display: none;
    }
   
   
    /* Navbar and header start */
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 23rem;
        position: fixed;
        transition: var(--transition-speed);
        top: -30%;
        opacity: 0;
        z-index: 90;
        animation: fade-out var(--transition-speed) 1 linear;
    }

    @keyframes fade-out {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }        
    }

    .navbar br {
        display: none;
    }

    .navbar-nav {
        display: grid;
        grid-template-columns: auto;  
    }

    .nav-item {
        width: 100%;
        transition: all 400ms ease;
        margin-bottom: 10px;
    }


    .nav-link {
        height: 3rem;
        justify-content: center;
    }

    .link-text {
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--text-primary);
        padding-bottom: 0px;
        margin-left: 0px;
        box-shadow: 0 4px 2px -2px var(--text-hover);
        display: none;
        animation: fade-out var(--transition-speed) 1 linear;
    }

    .nav-item:hover .link-text {
        transform: scale(1.1);
    }

    
    .nav-item:last-child {
        margin-bottom: 10px;
    }

    label #sidebar-btn {
        left: 80%;
    }

    label #sidebar-btn:hover {
        color: var(--text-hover);
    }

    #check:checked ~ .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 23rem;  
        left: 0%;
        top: 0;
        display: block;
        opacity: 0.85;
        animation: fade-in var(--transition-speed) 1 linear;    
    }

    #check:checked ~ .navbar .link-text {
        display: block;
        left: auto;
        right: auto;
        animation: fade-in var(--transition-speed) 1 linear;
    }

    #check:checked ~ .navbar .portrait {
        display: none;
    }

    #check:checked ~ .main-content {
        margin-left: 0rem;
    }

    #check {
        display: none;
    }

    .img-wrapper#few-pic{
        justify-content: flex-start;
    }
    /* Navbar and header end */

    
    /* Main content start */
    .panel::-webkit-scrollbar {
        display: none;
    }

    .panel {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .title {
        margin-top: 10%;
        font-size: 3rem;
        line-height: 3rem;
    }

    .institution-name {
        padding: 0px;
        margin-top: 1rem;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1rem;
    }

    .years-profession {
        display: flex;
        margin-top: 10px;
        padding: 0px;
        line-height: 0.8rem;
        font-size: 0.8rem;
    }

    .years {
        margin-top: 0.8rem;
    }

    .profession {
        margin: 0rem;
        margin-left: auto;
    }

    .description {
        font-size: 0.8rem;
    }

    .school {
        margin-top: 3rem;
    }

    .company {
        margin-top: 60px;
    }

    /* Main left content end */

    /* Main right content start */

    .own-projects h2{
        padding: 0px;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1rem;
    }

    .own-projects .description{
        margin-bottom: 0.8rem;
    }

    .video-wrapper {
        margin-top: 1rem;
        margin-bottom: 2rem;
        position: relative;
        width: 80%;
        padding-bottom: 45%;
        margin-left: auto;
        margin-right: auto;
        height: 50%;
    }

    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .img-wrapper {
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: flex-start;
        overflow-y: auto;
        align-self: center;
        border-radius: 10px;
        cursor: grab;
        justify-self: center;
    }

    .img-wrapper img {
        width: 5rem;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        object-fit: cover;
    }

    .img-wrapper img:hover {
        cursor: pointer;

    }

    .img-wrapper::-webkit-scrollbar {
        height: 0rem;
    }

    /* Main right content end */


    /* Popup window when clicked */

    .img-window {
        width: 100%;
    }

    .popup-img {
        max-height: 80%;
        max-width: 80%;
        z-index: 350;
        margin-top: auto;
        margin-bottom: auto;
    }

    .img-btn-next {
        font-size: 1rem;
        padding: 8px 20px;
    }

    .img-btn-prev {
        font-size: 1rem;
        padding: 8px 20px;
    }

    .change-img-left, .change-img-right {
        display: none;
    }
}



